@font-face {
  font-family: Abril Fatface;
  src: local("fonts/AbrilFatface-Regular.ttf");
}

@mixin bodydef {
  background-repeat: no-repeat;
  background-size: 100%;
}

@mixin flexCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

$borderBlack: 1px solid black;

.navbar {
  border-radius: 5vw;
  background: #7abaff;
  font-family: Abril Fatface, cursive;
  z-index: 2;

}


body {
  margin: 8px;
  @include bodydef;
  height: 100vh;

  &.gridbody div {
    @include flexCenter;
    border: $borderBlack;
    text-align: center;

  }
}

li {
  color: black;
  /*font-family: Roboto;*/
}

.navbar {
  padding: 0;
  -webkit-transform: translateY((100vh*0.1/30));
  -ms-transform: translateY((100vh*0.1/30));
  transform: translateY((100vh*0.1/30));
}

.mainBox {
  border: 1px solid black;

  .collapse.navbar-collapse {
    height: 100%;


  }
}


.flex-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid black;
  /*grid-area: flextest;*/


}

.grid-container {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.2fr 2fr 0.2fr;
  grid-template-rows: 0.2fr 2fr 0.2fr;
  /*grid-template-areas: "header header" "section flextest" "footer footer";*/
  background-color: rgba(0, 128, 0, 0.5);

  header.mainBox {
    .container-fluid {
      width: 85% !important;
    }

    .dropbtn {
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }

    .dropdown {
      position: relative;
      display: block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      left: 0;
      right: 10%;
      background-color: #f9f9f9;
      border-radius: .5rem;
      width: 25vw;
      z-index: 3;

    }

    .dropdown-content a {
      color: black;
      text-decoration: none;
      display: block;
      border-radius: .5rem;
      padding: .25rem 1.5rem;
      width: 100%;

    }

    .dropdown-content a:hover {
      background-color: #f1f1f1
    }


  }
}

header {
  /*grid-area: header;*/
  border-bottom: none !important;

}


footer {
  /*grid-area: footer;*/
  border-top: none !important;
  background: cadetblue;
}

.swiper-container {
  width: 60vw;
  height: 80vh;
  border-radius: 2rem;

  img {
    width: 100%;
    height: 100%;
    -o-object-fit: scale-down;
    object-fit: scale-down;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


.swiper-pagination {
  font-size: 2rem;
}

.alert {
  text-align: center;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*justify-content: center;*/
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  a.nav-link {
    /*height: 5rem;*/
    line-height: 3rem;
    /*text-align: center;*/
    color: black !important;
    //border-radius: 25%;
    padding: 0 0 !important;
    margin-left: 1rem;
    margin-right: 1rem;

    &:hover {
      background: #007bff;
    }
  }
}

.gridbody {
  margin: 8px;
  display: -ms-grid;
  display: grid;
  font-weight: 700;


  -ms-grid-rows: 1fr 2fr 1fr;


  grid-template-rows: 1fr 2fr 1fr;
  -ms-grid-columns: 5fr 5fr 2fr;
  grid-template-columns: 5fr 5fr 2fr;
  grid-template-areas: "head head head" "aside1 aside2 leftinfo" "foot foot foot";

  .head {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: head;
  }

  .aside1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: aside1;
  }

  .aside2 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: aside2;
  }

  .info {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: leftinfo;
  }

  .foot {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: foot;
  }
}


.navbar-nav {
  margin-left: auto;
  margin-right: auto;
}

.btn.btn-primary {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
}

.alert.alert-primary {
  position: fixed;
  top: 8px;
  left: 25%;
  right: 25%;

}

.bodyforbootstrapgrid {
  border: none;
  font-weight: 700;

  .row {
    padding: 0;
    margin: 0;
  }

  .alert {
    border: $borderBlack;

  }

  .responsiveBootstrapWrapper {
    .tonewlinew {
      display: none;
    }

    .head, .foot, .aside1, .aside2, .info {
      border: $borderBlack;

    }

    [class*=col], .head, .foot {
      padding: 0;
      @include flexCenter;

    }

  }
}

@media only screen and (min-width: 768px) {
  .responsiveBootstrapWrapper {

    .aside1, .aside2 {
      height: 100%;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 327.98px) {
  .responsiveBootstrapWrapper {
    .tonewlinew {
      display: block !important;
    }

    .col-10.row, .info {
      -ms-flex-preferred-size: 100% !important;
      flex-basis: 100% !important;
      width: 100% !important;
      max-width: 100% !important;

    }

    .head, .foot {
      height: (100vh/4)/2 !important;
    }

    .main {
      height: (100vh/4)*3 !important;
    }

    .aside1, .aside2, .info {
      height: (75vh/3) !important;
      width: 100%;
    }

  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 328px) and (max-width: 767.98px) {
  .responsiveBootstrapWrapper {
    .head, .foot {
      height: (100vh/3)/2 !important;
    }

    .main {
      height: (100vh/3)*2 !important;
    }

    .aside1, .aside2 {
      height: 50%;
      width: 100%;
    }
  }
}