/*Large Devices, Wide Screens*/
@media only screen and (max-width: 1440px) {
    .swiper-container {
        width: 70vw;
        height: 80vh;
    }
}

/*Large Devices, Wide Screens*/
@media only screen and (max-width: 1280px) {
    .swiper-container {
        height: 77vh;
    }
}


/*Extra Small Devices, Phones*/
@media only screen and (max-width: 692px) {
    .swiper-container {
        width: 75vw;
        height: 74vh;
    }

    .swiper-pagination {
        font-size: 1rem;
    }
    .alert.alert-primary{
        left: 15%;
        right: 15%;
    }
}

/*Extra Small Devices, Phones*/
@media only screen and (max-width: 488px) {
    .swiper-container {
        width: 75vw;
        height: 74vh;
    }
}

/*Extra Small Devices, Phones*/
@media only screen and (max-width: 376px) {
    .swiper-container {
        width: 75vw;
        height: 65vh;

    }
    .alert.alert-primary{
        left: 8px;
        right: 8px;
    }
}

/*Extra Small Devices, Phones*/
@media only screen and (max-width: 248px) {
    .swiper-container {
        width: 80vw;
        height: 90vh;
    }
}



/*Small Devices, Tablets*/
@media only screen and (max-width: 768px) {
    .gridbody {

        grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
        grid-template-columns: 2.5fr 1fr;
        grid-template-areas: "head head" "aside1 leftinfo" "aside2 leftinfo" "foot foot";
    }
}

/*Extra Small Devices, Phones*/
@media only screen and (max-width: 488px) {
    .gridbody {
        grid-template-columns: 1.5fr 1fr;
    }

}

/*Extra Small Devices, Phones*/
@media only screen and (max-width: 328px) {

    .gridbody {

        grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
        grid-template-columns: 1fr;
        grid-template-areas: "head" "aside1" "aside2" "leftinfo""foot";
    }

}
